body{
    background-color:#c1e0f7;
    background: url("../disneybg.jpg") no-repeat center center fixed;
    font-family:Helvetica;
    color:white;

}

.container {
    display:flex;
    justify-content:space-evenly;
    flex-direction:row-reverse;
   
}


input, button{
    margin:4px
}

h1{
    text-align: center;
}
h2 {
    text-align:center;
}

div {
    height:auto;
    width:auto;
}

img {
    border-radius: 10px;
    height:200px;
    width:300px;
    justify-content:center;
    align-items: center;
    border: 2px solid #a4def9;
   
}

.search {
    text-align:center;
}

#charSearchBtn, #search {
    padding:5px 5px;
}
#search {
    width:60%;
}

#charSearchBtn {
    background-color: #a4def9;
    border-radius:10px;
    border:none;
}